@tailwind base;
@tailwind components;
@tailwind utilities;

/* Animation for Welcome Page */
@keyframes floating {
  0% { transform: translateY(0px); }
  50% { transform: translateY(-10px); }
  100% { transform: translateY(0px); }
}
.floating {
  animation: floating 3s ease-in-out infinite;
}
.fade-in {
  opacity: 0;
  animation: fadeIn 1s forwards;
}
@keyframes fadeIn {
  100% { opacity: 1; }
}

/* Scrollbar for the chatBox */
.chatBox::-webkit-scrollbar {
  width: 8px;
}

.chatBox::-webkit-scrollbar-track {
  background: #1e293b;
  border-radius: 10px;
}

.chatBox::-webkit-scrollbar-thumb {
  background: #64748b;
  border-radius: 10px;
}

.chatBox::-webkit-scrollbar-thumb:hover {
  background: #4b5563;
}
